<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Form</servlet-name>
    <servlet-class>com.Servlet.RegisterSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>success</servlet-name>
    <servlet-class>com.Servlet.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>success</servlet-name>
    <url-pattern>/successServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S1</servlet-name>
    <servlet-class>com.attr.S1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S1</servlet-name>
    <url-pattern>/s1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S2</servlet-name>
    <servlet-class>com.attr.S2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S2</servlet-name>
    <url-pattern>/s2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S3</servlet-name>
    <servlet-class>com.attr.S3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S3</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S4</servlet-name>
    <servlet-class>com.attr.S4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S4</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UrlExamp</display-name>
    <servlet-name>UrlExamp</servlet-name>
    <servlet-class>com.Servlet.UrlExamp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlExamp</servlet-name>
    <url-pattern>/urlservlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>urlEX</display-name>
    <servlet-name>urlEX</servlet-name>
    <servlet-class>com.Servlet.urlEX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>urlEX</servlet-name>
    <url-pattern>/servlettt</url-pattern>
  </servlet-mapping>
</web-app>